<%= render "shared/header"%>
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal">
<h1>Gut health for everything health</h1>
</div>

<div class="w3-lime w3-padding-64 w3-margin-bottom w3-center">
  <h1 class="w3-xlarge">We believe that all health comes from the gut.<br>
   That goes both mentally and physically. When your gut health is poor, your immune system is also affected. <br>
Poor gut health also affects your skin, making it rough and scaly. A healthy gut provides more energy, a solid wall to protect you from sickness, better skin, and plenty more benefits. <br>
The following are our recommended foods to help you build, and maintain great gut health. 

</h1>
</div>

<div class="w3-content">

<div class="w3-row w3-margin">

<div class="w3-third">
  <%= image_tag("daikon.png", width: "100%", height: "200px") %> 
</div>
<div class="w3-twothird w3-container">
  <h2>Daikon Radish</h2>
  <p>
Fiber plays a large roll when it comes to gut health. Daikon radishes are packed with fiber. They help your digestion, prevent constipation, and have a detox effect on the body. 
  </p>
</div>

</div>
<div class="w3-row w3-margin">

<div class="w3-third">
 <%= image_tag("brownri.png", width: "100%", height: "200px") %> 
</div>
<div class="w3-twothird w3-container">
  <h2>Brown rice</h2>
  <p>
Not only is brown rice packed with fiber, it also is a great energy source! Because brown rice takes longer to digest, you will not feel as hungry. It also charges you with energy, far more than any other carbohydrate. 
  </p>
</div>

</div>
<div class="w3-row w3-margin">

<div class="w3-third">
  <%= image_tag("cab.png", width: "100%", height: "200px") %> 
</div>
<div class="w3-twothird w3-container">
  <h2>Cabbage</h2>
  <p>
Cabbage is stacked with nutrients and fiber, and can fill you up with small quantities. They can also be consumed raw, and don’t require any fancy preparation. With this, you can consume all the nutrients that usually are reduced when cooked.  
  </p>
</div>

</div>
<div class="w3-row w3-margin">

<div class="w3-third">
  <%= image_tag("ume.png", width: "100%", height: "200px") %> 
</div>
<div class="w3-twothird w3-container">
  <h2>Umeboshi</h2>
  <p>
Umeboshi are the number one go-to when it comes to killing germs in your stomach. The healthy bacteria in the umeboshi attacks the other bacteria, which results in boosting your immune system. This also helps cure stomach aches, prevents colds, and even helps with skin health. 
  </p>
</div>

</div>

</div>
</body>
</html>
